.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
data-raw/SP pos recurso 23042024SIC 55366246800 - Recurso_xlsx.xlsx
data-raw/SIC 40606205187 1º Semestre 2018 Metodologia.xlsx
data-raw/SP pos recurso 23042024SIC 55366246800 - Recurso.xlsb
